<main class="container">
  <h1>About us</h1>
  <br>
  <h4>Why You Need a Strong "About Us" Page</h4>
  <p>When a potential client or customer ends up on your site and likes what they see, they'll likely  head to your "About Us" page. These visitors are essentially searching for your story—who are you, and what do you offer? This is your opportunity to shine and build a connection between you and your new visitor. Although you may be 100% business-oriented, your About Us page is your chance to connect on a human level. A great About Us page can help your brand:</p>
  <br>
  <ul>    
    <li>Make a good first impression on new site visitors</li>
    <li>Communicate the story, cause, and purpose of your business</li>
    <li>Differentiate you in a positive way from your competition</li>
    <li>Put a more personable face to your brand</li>
    <li>Establish trust that your business is legitimate</li>
    <li>Give customers a reason to purchase from you</li>
    <li>Build loyalty, keeping customers coming back for more</li>
    <br>
    <p>At the end of the day, your About Us page is essentially a sales page. Based on the story you tell, you will paint a picture that represents who you are as a brand. WHY would a potential client or customer want to buy from you? Put a face to the name, bridging the gap between you and your audience.</p>
  </ul>

  <br>
  <p class="blog-post-meta">November 16, 2018 from Chris Galis <a href="https://www.volusion.com/blog/how-to-build-an-about-us-page-with-examples/">How to Write an About Us Page</a></p>

  </main>