<main class="container">
  <article class="blog-post">
    <h1 class="blog-post-title mb-1">Contact us</h1>    
    <hr>

    <br>
    <h3> North America </h3>
    <br>
    <h5>Canada</h5>
    <p class="col-3">0000 Avenue Boulevard, Suite 00 Mississauga, Texas 00, 000-0000        Tel: (000) 000-0000  </p>
    <br>
    <h5>EUA</h5>
    <p class="col-3">0000 Avenue Boulevard, Suite 00 Mississauga, Texas 00, 000-0000        Tel: (000) 000-0000  </p>
    <br>
    <h5>Mexico</h5>
    <p class="col-3">0000 Avenue Boulevard, Suite 00 Mississauga, Texas 00, 000-0000        Tel: (000) 000-0000  </p>
    <br>

    <h3> South America </h3>
    <hr>
    <br>
    <h5>Argentina</h5>
    <p class="col-3">0000 Avenue Boulevard, Suite 00 Mississauga, Texas 00, 000-0000        Tel: (000) 000-0000  </p>
    <br>
    <h5>Brazil</h5>
    <p class="col-3">0000 Avenue Boulevard, Suite 00 Mississauga, Texas 00, 000-0000        Tel: (000) 000-0000  </p>
    <br>
    <h5>Colombia</h5>
    <p class="col-3">0000 Avenue Boulevard, Suite 00 Mississauga, Texas 00, 000-0000        Tel: (000) 000-0000  </p>
    <br>
    

</article>
</main>