<main>
    <h1>Get started </h1>
    <p class="fs-5 col-md-8">This is an example for a basic page using MVC and that can be used as a starting point for projects of various types considering few features</p>

  

   

    <div class="row g-5">
      <div class="col-md-12">
        <h2>Starter projects</h2>
        <p>To facilitate this example, Bootstrap is used, which already has files compiled and ready for production. Click below for more examples.</p>
        <div class="mb-5">
            <a href="/docs/5.2/examples/" class="btn btn-primary btn-lg px-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Baixar exemplos</font></font></a>
        </div>
      </div>

      <div class="col-md-6">
        <h2>Guides</h2>
        <p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
        <ul class="icon-list ps-0">
          <li class="d-flex align-items-start mb-1"><a href="/docs/5.2/getting-started/introduction/">Bootstrap quick start guide</a></li>
          <li class="d-flex align-items-start mb-1"><a href="/docs/5.2/getting-started/webpack/">Bootstrap Webpack guide</a></li>
          <li class="d-flex align-items-start mb-1"><a href="/docs/5.2/getting-started/parcel/">Bootstrap Parcel guide</a></li>
          <li class="d-flex align-items-start mb-1"><a href="/docs/5.2/getting-started/vite/">Bootstrap Vite guide</a></li>
          <li class="d-flex align-items-start mb-1"><a href="/docs/5.2/getting-started/contribute/">Contributing to Bootstrap</a></li>
        </ul>
      </div>
    </div>
  </main>